<div class="main">
  <div class="second">
    <p>Subscribe to our Job Seeker Mailling List</p>
    <div class="mail">

      <div class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
          data-bs-display="static" aria-expanded="false">
          Enter Your Email Address <i class="fa-regular fa-envelope ps-5"></i>
        </button>
        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
          <li><button class="dropdown-item" type="button">Home</button></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><button class="dropdown-item" type="button">Company</button></li>
        </ul>
      </div>


    </div>
  </div>
</div>